.aboutme {

  img {
    max-height: 75vh;
    margin-bottom: 30px;
  }

  .text {
    padding-left: 0;
    letter-spacing: 0.10em;
    font-weight: 500;
    font-size: 15px;
    font-family: 'Open Sans', serif;
    text-align: left;

    p {
      font-size: 25px;
    }

    .row {
      padding-bottom: 20px;
      font-weight: 400;
    }

    .titles {
      padding-left: 0;
      font-weight: bold;
      }

    .info {
    }

  }

  .moreInfo {
    margin-top: 20px;
    font-size: 15px;
    font-style: normal;

    span {
      font-family: 'Lora', serif;
      letter-spacing: 0.15em;
      font-size: 30px;
      font-style: italic;
    }

    .titles {
      font-family: 'Lora';
      font-style: italic;
    }
  }

}